<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">


  	<title>Free Quote</title>

    <!-- Bootstrap Core CSS -->
    <link href="/allenview/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Customizable CSS -->
    <link href="/allenview/static/css/main.css" rel="stylesheet" data-skrollr-stylesheet>
    <link href="/allenview/static/css/green.css" rel="stylesheet" title="Color">
    <link href="/allenview/static/css/owl.carousel.css" rel="stylesheet">
    <link href="/allenview/static/css/owl.transitions.css" rel="stylesheet">
    <link href="/allenview/static/css/animate.min.css" rel="stylesheet">
    <link href="/allenview/static/css/custom.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:400,900,300,700|Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">

    <!-- Icons/Glyphs -->
    <link href="/allenview/static/fonts/fontello.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/allenview/static/images/favicon.ico">

    <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
      <script src="static/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

  {% include 'menu.html

  <main>

    

  <section id="contact-form">
        <div class="container inner">

          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center animated" style="opacity: 1;">
              <header>
                <h1>Free Quote</h1>
                <p>At Allenview, we care as much about your grass as you do. That&#39;s why we supply the highest quality turf, we deliver directly to your door, and we lay your new lawn for you. If you need commercial or residential turf, we have you covered.</p>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->

          <div class="row">
            <div class="col-sm-12 animated" style="opacity: 1;">
              <div class="row">

                <div class="col-sm-6 outer-top-md inner-right-sm animated" style="opacity: 1;">

                  <h2>Free Quote Form</h2>
                  <p><i>Fill the sections below and then click the button below.</i></p>

                  <form id="contactform" class="forms" action="contact.php" method="post" novalidate="novalidate">

                    <div class="row">
                      <div class="col-sm-6 animated" style="opacity: 1;">
                        <input type="text" name="name" class="form-control" placeholder="Name (Required)">
                      </div><!-- /.col -->
                    </div><!-- /.row -->

                    <div class="row">
                      <div class="col-sm-6 animated" style="opacity: 1;">
                        <input type="email" name="email" class="form-control" placeholder="Email (Required)">
                      </div><!-- /.col -->
                    </div><!-- /.row -->

                    <div class="row">
                      <div class="col-sm-6 animated" style="opacity: 1;">
                        <input type="text" name="subject" class="form-control" placeholder="Subject">
                      </div><!-- /.col -->
                    </div><!-- /.row -->

                    <div class="row">
                      <div class="col-sm-12 animated" style="opacity: 1;">
                        <textarea name="message" class="form-control" placeholder="Enter your message ..."></textarea>
                      </div><!-- /.col -->
                    </div><!-- /.row -->

                    <button type="submit" class="btn btn-default btn-submit">Request Quote</button>

                  </form>

                  <div id="response"></div>

                </div><!-- ./col -->

                <div class="col-sm-6 outer-top-md inner-left-sm border-left animated" style="opacity: 1;">

                  <h2>Contact Us</h2>
                  <p>We're available by phone, email, and on all the social medias.</p>

                  <h3>Allenview Turf</h3>
                  <ul class="contacts">
                    <li><i class="icon-mobile contact"></i> 0408 317 144</li>
                    <li><a href="mailto:info@reen.com"><i class="icon-mail-1 contact"></i> justin@allenviewturf.com.au</a></li>
                    <li><i class="icon-location contact"></i> 286 Brookland Road, Allenview, QLD, 4285</li>
                  </ul><!-- /.contacts -->

                  <div class="social-network">
                    <h3>Social Media</h3>
                    <ul class="social">
                      <li><a href=""><i class="icon-s-twitter"></i></a></li>
                      <li><a href=""><i class="icon-s-instagram"></i></a></li>
                      <li><a href=""><i class="icon-s-gplus"></i></a></li>
                    </ul><!-- /.social -->
                  </div><!-- /.social-network -->

                </div><!-- /.col -->

              </div><!-- /.row -->
            </div><!-- /.col -->
          </div><!-- /.row -->

        </div><!-- /.container -->
      </section>



  </main>

  {% include 'social.html
  {% include 'footer.html

  
    <script src="/allenview/static/js/jquery.min.js"></script>
    <script src="/allenview/static/js/jquery.easing.1.3.min.js"></script>
    <script src="/allenview/static/js/jquery.form.js"></script>
    <script src="/allenview/static/js/jquery.validate.min.js"></script>
    <script src="/allenview/static/js/bootstrap.min.js"></script>
    <script src="/allenview/static/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="/allenview/static/js/skrollr.min.js"></script>
    <script src="/allenview/static/js/skrollr.stylesheets.min.js"></script>
    <script src="/allenview/static/js/waypoints.min.js"></script>
    <script src="/allenview/static/js/waypoints-sticky.min.js"></script>
    <script src="/allenview/static/js/owl.carousel.min.js"></script>
    <script src="/allenview/static/js/jquery.isotope.min.js"></script>
    <script src="/allenview/static/js/jquery.easytabs.min.js"></script>
    <script src="/allenview/static/js/google.maps.api.v3.js"></script>
    <script src="/allenview/static/js/viewport-units-buggyfill.js"></script>
    <script src="/allenview/static/js/scripts.js"></script>
    <!-- OnScroll CSS3 Animations for Modern Browsers and IE10+ -->
    <!--[if !IE]> -->
      <script src="/allenview/static/js/onscroll.js"></script>
    <!-- <![endif]-->
      

  </body>
</html>
