<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">


  	<title>Gold Coast Turf</title>

    <!-- Bootstrap Core CSS -->
    <link href="/allenview/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Customizable CSS -->
    <link href="/allenview/static/css/main.css" rel="stylesheet" data-skrollr-stylesheet>
    <link href="/allenview/static/css/green.css" rel="stylesheet" title="Color">
    <link href="/allenview/static/css/owl.carousel.css" rel="stylesheet">
    <link href="/allenview/static/css/owl.transitions.css" rel="stylesheet">
    <link href="/allenview/static/css/animate.min.css" rel="stylesheet">
    <link href="/allenview/static/css/custom.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:400,900,300,700|Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">

    <!-- Icons/Glyphs -->
    <link href="/allenview/static/fonts/fontello.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/allenview/static/images/favicon.ico">

    <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
      <script src="static/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

  {% include 'menu.html

  <main>

    

  <section id="pricing-tables">
        <div class="container inner">

          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center animated" style="opacity: 1;">
              <header>
                <h1>Compare Turfs</h1>
                <p>Here's a guide to help you select the best turf for your needs.</p>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->

          <div class="row pricing col-4 animated" style="opacity: 1;">

            <div class="col-lg-3 col-sm-6 inner-top-sm animated" style="opacity: 1;">
              <div class="plan">

                <header>
                  <h2>Sapphire Buffalo</h2>

                  <div class="price">
                    <span class="currency">$</span>
                    <span class="amount">0</span>
                    <span class="period">p/m</span>
                  </div><!-- /.price -->

                  <a href="pricing2.html#" class="btn">Change to this plan</a>
                </header>

                <ul class="features">
                  <li><i class="icon-window"></i> 5 Pages</li>
                  <li><i class="icon-hdd"></i> 1 GB Storage</li>
                  <li><i class="icon-switch"></i> 10 GB Bandwidth</li>
                  <li><i class="icon-globe"></i> Custom Domain</li>
                  <li><i class="icon-users"></i> 24/7 Support</li>
                </ul><!-- /.features -->

              </div><!-- /.plan -->
            </div><!-- /.col -->

            <div class="col-lg-3 col-sm-6 inner-top-sm animated" style="opacity: 1;">
              <div class="plan">

                <header>
                  <h2>Palmetto Buffalo</h2>

                  <div class="price">
                    <span class="currency">$</span>
                    <span class="amount">9</span>
                    <span class="period">p/m</span>
                  </div><!-- /.price -->

                  <a href="pricing2.html#" class="btn">Change to this plan</a>
                </header>

                <ul class="features">
                  <li><i class="icon-window"></i> 20 Pages</li>
                  <li><i class="icon-hdd"></i> 10 GB Storage</li>
                  <li><i class="icon-switch"></i> 500 GB Bandwidth</li>
                  <li><i class="icon-globe"></i> Custom Domain</li>
                  <li><i class="icon-users"></i> 24/7 Support</li>
                </ul><!-- /.features -->

              </div><!-- /.plan -->
            </div><!-- /.col -->

            <div class="col-lg-3 col-sm-6 inner-top-sm animated" style="opacity: 1;">
              <div class="plan">

                <header>
                  <h2>Empire Zoysia</h2>
                  <br>
                  <div class="price">
                    <span class="currency">$</span>
                    <span class="amount">14</span>
                    <span class="period">p/m</span>
                  </div><!-- /.price -->

                  <a href="pricing2.html#" class="btn">Change to this plan</a>
                </header>

                <ul class="features">
                  <li><i class="icon-window"></i> 100 Pages</li>
                  <li><i class="icon-hdd"></i> 100 GB Storage</li>
                  <li><i class="icon-switch"></i> 2 TB Bandwidth</li>
                  <li><i class="icon-globe"></i> Custom Domain</li>
                  <li><i class="icon-users"></i> 24/7 Support</li>
                </ul><!-- /.features -->

              </div><!-- /.plan -->
            </div><!-- /.col -->

            <div class="col-lg-3 col-sm-6 inner-top-sm animated" style="opacity: 1;">
              <div class="plan">

                <header>
                  <h2>Synthetic Turf</h2>
                  <br>
                  <div class="price">
                    <span class="currency">$</span>
                    <span class="amount">23</span>
                    <span class="period">p/m</span>
                  </div><!-- /.price -->

                  <a href="pricing2.html#" class="btn">Change to this plan</a>
                </header>

                <ul class="features">
                  <li><i class="icon-window"></i> Unlimited Pages</li>
                  <li><i class="icon-hdd"></i> Unlimited Storage</li>
                  <li><i class="icon-switch"></i> Unlimited Bandwidth</li>
                  <li><i class="icon-globe"></i> Custom Domain</li>
                  <li><i class="icon-users"></i> 24/7 Support</li>
                </ul><!-- /.features -->

              </div><!-- /.plan -->
            </div><!-- /.col -->

          </div><!-- /.row -->

        </div><!-- /.container -->
      </section>



  </main>

  {% include 'social.html
  {% include 'footer.html

  
    <script src="/allenview/static/js/jquery.min.js"></script>
    <script src="/allenview/static/js/jquery.easing.1.3.min.js"></script>
    <script src="/allenview/static/js/jquery.form.js"></script>
    <script src="/allenview/static/js/jquery.validate.min.js"></script>
    <script src="/allenview/static/js/bootstrap.min.js"></script>
    <script src="/allenview/static/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="/allenview/static/js/skrollr.min.js"></script>
    <script src="/allenview/static/js/skrollr.stylesheets.min.js"></script>
    <script src="/allenview/static/js/waypoints.min.js"></script>
    <script src="/allenview/static/js/waypoints-sticky.min.js"></script>
    <script src="/allenview/static/js/owl.carousel.min.js"></script>
    <script src="/allenview/static/js/jquery.isotope.min.js"></script>
    <script src="/allenview/static/js/jquery.easytabs.min.js"></script>
    <script src="/allenview/static/js/google.maps.api.v3.js"></script>
    <script src="/allenview/static/js/viewport-units-buggyfill.js"></script>
    <script src="/allenview/static/js/scripts.js"></script>
    <!-- OnScroll CSS3 Animations for Modern Browsers and IE10+ -->
    <!--[if !IE]> -->
      <script src="/allenview/static/js/onscroll.js"></script>
    <!-- <![endif]-->
      

  </body>
</html>
