<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">


  	<title>FAQs</title>

    <!-- Bootstrap Core CSS -->
    <link href="/allenview/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Customizable CSS -->
    <link href="/allenview/static/css/main.css" rel="stylesheet" data-skrollr-stylesheet>
    <link href="/allenview/static/css/green.css" rel="stylesheet" title="Color">
    <link href="/allenview/static/css/owl.carousel.css" rel="stylesheet">
    <link href="/allenview/static/css/owl.transitions.css" rel="stylesheet">
    <link href="/allenview/static/css/animate.min.css" rel="stylesheet">
    <link href="/allenview/static/css/custom.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:400,900,300,700|Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">

    <!-- Icons/Glyphs -->
    <link href="/allenview/static/fonts/fontello.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/allenview/static/images/favicon.ico">

    <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
      <script src="static/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

  {% include 'menu.html

  <main>

    

  <section id="faq" class="light-bg">
          <div class="container inner">

            <div class="row">
              <div class="col-md-8 col-sm-9 center-block text-center" style="opacity: 1;">
                <header>
                  <h1>Frequently Asked Questions</h1>
                  <p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
                </header>
              </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="row">

              <div class="col-sm-6 inner-right-sm inner-top-sm" style="opacity: 1;">

                <h3>Do you deliver?</h3>
                <p>Yes.</p>

                <h3>Do you lay the turf?</h3>
                <p>Yes.</p>

                <h3>Do you supply commercial and residential customers</h3>
                <p>Yes.</p>

              </div><!-- /.col -->

              <div class="col-sm-6 inner-left-sm inner-top-sm" style="opacity: 1;">

                <h3>Is there a setup fee?</h3>
                <p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>

                <h3>What types of payment methods are accepted?</h3>
                <p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>

                <h3>Can i cancel my account at any time?</h3>
                <p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>

              </div><!-- /.col -->

            </div><!-- /.row -->

          </div><!-- /.container -->
        </section>



  </main>

  {% include 'social.html
  {% include 'footer.html

  
    <script src="/allenview/static/js/jquery.min.js"></script>
    <script src="/allenview/static/js/jquery.easing.1.3.min.js"></script>
    <script src="/allenview/static/js/jquery.form.js"></script>
    <script src="/allenview/static/js/jquery.validate.min.js"></script>
    <script src="/allenview/static/js/bootstrap.min.js"></script>
    <script src="/allenview/static/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="/allenview/static/js/skrollr.min.js"></script>
    <script src="/allenview/static/js/skrollr.stylesheets.min.js"></script>
    <script src="/allenview/static/js/waypoints.min.js"></script>
    <script src="/allenview/static/js/waypoints-sticky.min.js"></script>
    <script src="/allenview/static/js/owl.carousel.min.js"></script>
    <script src="/allenview/static/js/jquery.isotope.min.js"></script>
    <script src="/allenview/static/js/jquery.easytabs.min.js"></script>
    <script src="/allenview/static/js/google.maps.api.v3.js"></script>
    <script src="/allenview/static/js/viewport-units-buggyfill.js"></script>
    <script src="/allenview/static/js/scripts.js"></script>
    <!-- OnScroll CSS3 Animations for Modern Browsers and IE10+ -->
    <!--[if !IE]> -->
      <script src="/allenview/static/js/onscroll.js"></script>
    <!-- <![endif]-->
      

  </body>
</html>
