<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">


  	<title>About</title>

    <!-- Bootstrap Core CSS -->
    <link href="/allenview/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Customizable CSS -->
    <link href="/allenview/static/css/main.css" rel="stylesheet" data-skrollr-stylesheet>
    <link href="/allenview/static/css/green.css" rel="stylesheet" title="Color">
    <link href="/allenview/static/css/owl.carousel.css" rel="stylesheet">
    <link href="/allenview/static/css/owl.transitions.css" rel="stylesheet">
    <link href="/allenview/static/css/animate.min.css" rel="stylesheet">
    <link href="/allenview/static/css/custom.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:400,900,300,700|Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">

    <!-- Icons/Glyphs -->
    <link href="/allenview/static/fonts/fontello.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/allenview/static/images/favicon.ico">

    <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
      <script src="static/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

  {% include 'menu.html

  <main>

    

  <section id="hero" class="tint-bg img-bg-bottom" style="background-image: url('/allenview/static/images/allenview-turf-hero-slim.jpg');">
  <div class="container inner">

    <div class="row">
      <div class="col-md-9 col-sm-10" style="opacity: 1;">
        <header class="col-wht">
          <h1>About Us</h1>
          <p>Allenview Is The Most Trusted Name in Turf <strong></strong></p>
        </header>
      </div><!-- /.col -->
    </div><!-- ./row -->

  </div><!-- /.container -->
</section>

  <div class="container inner">
          <div class="row">

            <div class="col-md-12" style="opacity: 1;">
              <section id="content" class="">
                <div class="row">

                  <div class="col-sm-12 inner-right-xs" style="opacity: 1;">

                    <p>Allenview Turf is a premium supplier of several turf varieties. Established in 2008, Allenview Turf has grown swiftly to become a market leader supplying turf to large commercial projects as well as domestic yards. Turf supplied, delivered and laid by Allenview Turf will bring your project to life with its strong and consistently vibrant colour for everyone to enjoy. Lawn management is easier and a healthy lawn is priceless. With Allenview Turf you're assured of a strong, attractive lawn for all seasons.</p>

                  </div><!-- /.col -->

                </div><!-- ./row -->
              </section>

            </div><!-- ./col -->

          </div><!-- /.row -->
        </div>



  </main>

  {% include 'social.html
  {% include 'footer.html

  
    <script src="/allenview/static/js/jquery.min.js"></script>
    <script src="/allenview/static/js/jquery.easing.1.3.min.js"></script>
    <script src="/allenview/static/js/jquery.form.js"></script>
    <script src="/allenview/static/js/jquery.validate.min.js"></script>
    <script src="/allenview/static/js/bootstrap.min.js"></script>
    <script src="/allenview/static/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="/allenview/static/js/skrollr.min.js"></script>
    <script src="/allenview/static/js/skrollr.stylesheets.min.js"></script>
    <script src="/allenview/static/js/waypoints.min.js"></script>
    <script src="/allenview/static/js/waypoints-sticky.min.js"></script>
    <script src="/allenview/static/js/owl.carousel.min.js"></script>
    <script src="/allenview/static/js/jquery.isotope.min.js"></script>
    <script src="/allenview/static/js/jquery.easytabs.min.js"></script>
    <script src="/allenview/static/js/google.maps.api.v3.js"></script>
    <script src="/allenview/static/js/viewport-units-buggyfill.js"></script>
    <script src="/allenview/static/js/scripts.js"></script>
    <!-- OnScroll CSS3 Animations for Modern Browsers and IE10+ -->
    <!--[if !IE]> -->
      <script src="/allenview/static/js/onscroll.js"></script>
    <!-- <![endif]-->
      

  </body>
</html>
