<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">


  	<title>Turf Types</title>

    <!-- Bootstrap Core CSS -->
    <link href="/allenview/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Customizable CSS -->
    <link href="/allenview/static/css/main.css" rel="stylesheet" data-skrollr-stylesheet>
    <link href="/allenview/static/css/green.css" rel="stylesheet" title="Color">
    <link href="/allenview/static/css/owl.carousel.css" rel="stylesheet">
    <link href="/allenview/static/css/owl.transitions.css" rel="stylesheet">
    <link href="/allenview/static/css/animate.min.css" rel="stylesheet">
    <link href="/allenview/static/css/custom.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:400,900,300,700|Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">

    <!-- Icons/Glyphs -->
    <link href="/allenview/static/fonts/fontello.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/allenview/static/images/favicon.ico">

    <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
      <script src="static/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

  {% include 'menu.html

  <main>

    

  <section id="hero" class="tint-bg img-bg-bottom" style="background-image: url('/allenview/static/images/allenview-turf-hero-slim.jpg');">
  <div class="container inner">

    <div class="row">
      <div class="col-md-9 col-sm-10" style="opacity: 1;">
        <header class="col-wht">
          <h1>Turf Types</h1>
          <p>We stock the toughest turfs and best local lawns in Australia <strong></strong></p>
        </header>
      </div><!-- /.col -->
    </div><!-- ./row -->

  </div><!-- /.container -->
</section>

  <div class="container inner">
    <div class="row">

      <div class="col-md-12" style="opacity: 1;">
        <section id="content" class="">
          <div class="row">
            <a href="/turf-types/sapphire-buffalo" class="">
              <div class="col-sm-6 inner-right-xs" style="opacity: 1;">
                  <h2>Sapphire Buffalo</h2>
                  <p><strong>Fine Texture, Durable, Deep Green</strong>. Sapphire Buffalo turf has a fine texture and a deep root system, making it the lawn-of-choice where you don't want a coarse leaf look. Its a tough grass that grows and recovers quickly and is renowned for its amazing deep green winter colour.</p>
                  <a href="/turf-types/sapphire-buffalo" class="btn btn-large"><i class="icon-info-circled"></i> MORE ON SAPPHIRE TURF &rarr;</a>
              </div><!-- /.col -->
            </a>

            <a href="/turf-types/palmetto-soft-leaf-buffalo" class="">
              <div class="col-sm-6 inner-left-xs" style="opacity: 1;">
                <h2>Palmetto Soft Leaf Buffalo</h2>
                <p><strong>Broad Leaf, Low Maintenance, Dark Green</strong>. Palmetto Soft Leaf Buffalo turf is the most popular lawn grass in Australia. It's renowned for its deep and dark colour, superior quality and low maintenance. This grass grows broad hard-wearing leaf blades which involve less mowing and edging.</p>
                <a href="/turf-types/palmetto-soft-leaf-buffalo" class="btn btn-large"><i class="icon-info-circled"></i> MORE ON PALMETTO TURF &rarr;</a>
              </div><!-- /.col -->
            </a>

            <a href="/turf-types/empire-zoysia" class="">
              <div class="col-sm-6 inner-right-xs inner-top-sm" style="opacity: 1;">
                <h2>Empire Zoysia</h2>
                <p><strong>Low Maintenance, Great for Shaded and Coastal Areas</strong>. Empire Zoysia turf is perfect for low-light and shady areas. It's suitable for long, hot summers, and grows well near ocean and coastal dunes. This slow growing grass has great traffic tolerance and lower sunlight requirements.</p>
                <a href="/turf-types/empire-zoysia" class="btn btn-large"><i class="icon-info-circled"></i> MORE ON EMPIRE TURF &rarr;</a>
              </div><!-- /.col -->
            </a>

            <a href="/turf-types/synthetic-turf" class="">
              <div class="col-sm-6 inner-left-xs inner-top-sm" style="opacity: 1;">
                <h2>Synthetic Turf</h2>
                <p><strong>No Maintenance, No Mowing, Endless Opportunities</strong>. Want something that looks great without the moving and maintenance costs? Have an area where your grass simply won't grow? Replace that cement or tiled area with our great range of synthetic grass.</p>
                <a href="/turf-types/synthetic-turf" class="btn btn-large"><i class="icon-info-circled"></i> MORE ON SYNTHETIC TURF &rarr;</a>
              </div><!-- /.col -->
            </a>

          </div><!-- ./row -->
        </section>

        <!-- ============================================================= SECTION – CONTENT : END ============================================================= -->

      </div><!-- ./col -->
    </div><!-- /.row -->
  </div>



  </main>

  {% include 'social.html
  {% include 'footer.html

  
    <script src="/allenview/static/js/jquery.min.js"></script>
    <script src="/allenview/static/js/jquery.easing.1.3.min.js"></script>
    <script src="/allenview/static/js/jquery.form.js"></script>
    <script src="/allenview/static/js/jquery.validate.min.js"></script>
    <script src="/allenview/static/js/bootstrap.min.js"></script>
    <script src="/allenview/static/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="/allenview/static/js/skrollr.min.js"></script>
    <script src="/allenview/static/js/skrollr.stylesheets.min.js"></script>
    <script src="/allenview/static/js/waypoints.min.js"></script>
    <script src="/allenview/static/js/waypoints-sticky.min.js"></script>
    <script src="/allenview/static/js/owl.carousel.min.js"></script>
    <script src="/allenview/static/js/jquery.isotope.min.js"></script>
    <script src="/allenview/static/js/jquery.easytabs.min.js"></script>
    <script src="/allenview/static/js/google.maps.api.v3.js"></script>
    <script src="/allenview/static/js/viewport-units-buggyfill.js"></script>
    <script src="/allenview/static/js/scripts.js"></script>
    <!-- OnScroll CSS3 Animations for Modern Browsers and IE10+ -->
    <!--[if !IE]> -->
      <script src="/allenview/static/js/onscroll.js"></script>
    <!-- <![endif]-->
      

  </body>
</html>
