<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">


  	<title>​Synthetic Turf</title>

    <!-- Bootstrap Core CSS -->
    <link href="/allenview/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Customizable CSS -->
    <link href="/allenview/static/css/main.css" rel="stylesheet" data-skrollr-stylesheet>
    <link href="/allenview/static/css/green.css" rel="stylesheet" title="Color">
    <link href="/allenview/static/css/owl.carousel.css" rel="stylesheet">
    <link href="/allenview/static/css/owl.transitions.css" rel="stylesheet">
    <link href="/allenview/static/css/animate.min.css" rel="stylesheet">
    <link href="/allenview/static/css/custom.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:400,900,300,700|Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">

    <!-- Icons/Glyphs -->
    <link href="/allenview/static/fonts/fontello.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/allenview/static/images/favicon.ico">

    <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
      <script src="static/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

  {% include 'menu.html

  <main>

    

  <section id="hero" class="tint-bg img-bg-bottom" style="background-image: url('/allenview/static/images/allenview-turf-hero-slim.jpg');">
  <div class="container inner">

    <div class="row">
      <div class="col-md-9 col-sm-10" style="opacity: 1;">
        <header class="col-wht">
          <h1>​Synthetic Turf</h1>
          <p>No Maintenance, No Mowing, Endless Opportunities <strong></strong></p>
        </header>
      </div><!-- /.col -->
    </div><!-- ./row -->

  </div><!-- /.container -->
</section>
  <div class="container inner">
  <div class="row">
    <div class="col-md-12" style="">
      <section id="content" class="">
        <div class="row">
          <div class="col-sm-12 inner-right-xs" style="">
            <p>Want something that&#39;s easy to take care of with little hassle? Then our great range of synthetic grass will be just right for you. Don&#39;t have time to mow the lawn? Too busy to pull out weeds? Don&#39;t want to waste your weekends on your garden? If so, synthetic grass could be for you. Lush and always green, synthetic grass is the easy way to keep your property looking stunning.</p>
            <p>There is a range of options available with synthetic grass that you wouldn&#39;t get planting ordinary turf. For example, novel ideas such as creating a chessboard or handball court with grass are catching on fast. Additionally, owners or carers of properties with synthetic grass no longer have to worry about fertilising, mowing, weeding or even watering their turf. The property looks stunning all year long, no matter the weather conditions. During the much-dreaded droughts that are not uncommon in South East Queensland, the properties with synthetic grass remain looking in optimum condition while their neighbours suffer from brown, dead turf.</p>
            <p>Additionally, for those areas where grass just won&#39;t grow, synthetic turf is the attractive alternative to cement or tiles. Synthetic grass will brighten up any area. If you are sick of grass dying on your Brisbane property, synthetic turf is for you. Don&#39;t spend any more tedious hours trying to maintain your yard, invest in synthetic turf today.</p>
          </div><!-- /.col -->
        </div><!-- ./row -->
      </section>
    </div><!-- ./col -->
  </div><!-- /.row -->
</div>
  <section id="reasons" class="light-bg">
  <div class="container inner inner-bottom-sm">
    <div class="row">

      <div class="col-md-3 inner-right-xs inner-bottom-xs">
        <h2>Our Other Turfs...</h2>
      </div><!-- /.col -->

      <div class="col-md-3 inner-right-xs inner-bottom-xs">
        <a href="/turf-types/sapphire-buffalo">
          <h3>Sapphire Buffalo</h3>
          <p>A tough grass that grows and recovers quickly and is renowned for its amazing deep green colour.</p>
        </a>
      </div><!-- /.col -->

      <div class="col-md-3 inner-right-xs inner-bottom-xs">
        <a href="/turf-types/palmetto-soft-leaf-buffalo">
          <h3>Palmetto Soft Leaf</h3>
          <p>A broad hard-wearing leaf blade which produces superior quality and low maintenance lawn.</p>
        </a>
      </div><!-- /.col -->

      <div class="col-md-3 inner-right-xs inner-bottom-xs">
        <a href="/turf-types/empire-zoysia">
          <h3>Empire Zoysia</h3>
          <p>Perfect for low-light and shady areas. Suitable for hot summers and ocean coastal areas.</p>
        </a>
      </div><!-- /.col -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
  <section id="visit-our-store" class="img-bg img-bg-soft tint-bg"  style="background-image: url('/allenview/static/images/allenview-turf-hero-slim.jpg');">
    <div class="container inner">

      <div class="row">
        <div class="col-md-8 col-sm-9" style="opacity: 1;">
          <header>
            <h1>Get a Free Quote</h1>
            <p>Not all grass is alike. You need the right turf at the best price. At Allenview, we care as much about your grass as you do. At Allenview, we have you covered.</p>
          </header>
          <a href="/free-quote" class="btn btn-large">Click Here</a>
        </div><!-- /.col -->
      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>



  </main>

  {% include 'social.html
  {% include 'footer.html

  
    <script src="/allenview/static/js/jquery.min.js"></script>
    <script src="/allenview/static/js/jquery.easing.1.3.min.js"></script>
    <script src="/allenview/static/js/jquery.form.js"></script>
    <script src="/allenview/static/js/jquery.validate.min.js"></script>
    <script src="/allenview/static/js/bootstrap.min.js"></script>
    <script src="/allenview/static/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="/allenview/static/js/skrollr.min.js"></script>
    <script src="/allenview/static/js/skrollr.stylesheets.min.js"></script>
    <script src="/allenview/static/js/waypoints.min.js"></script>
    <script src="/allenview/static/js/waypoints-sticky.min.js"></script>
    <script src="/allenview/static/js/owl.carousel.min.js"></script>
    <script src="/allenview/static/js/jquery.isotope.min.js"></script>
    <script src="/allenview/static/js/jquery.easytabs.min.js"></script>
    <script src="/allenview/static/js/google.maps.api.v3.js"></script>
    <script src="/allenview/static/js/viewport-units-buggyfill.js"></script>
    <script src="/allenview/static/js/scripts.js"></script>
    <!-- OnScroll CSS3 Animations for Modern Browsers and IE10+ -->
    <!--[if !IE]> -->
      <script src="/allenview/static/js/onscroll.js"></script>
    <!-- <![endif]-->
      

  </body>
</html>
